html, body {
  height: 100%;
  width: 100%;
  margin:0%;
  padding:0%;
  overflow:hidden;
}


.backgroundImage {
  height:100%;
  width:100%;
  background: url("https://opengameart.org/sites/default/files/%D1%80%D1%83%D1%87%D1%8C%D0%B8_1.jpg");
  background-position: center;
  background-size: cover;
  overflow:hidden; 
}


.menu ul {
      list-style-type: none;
      margin: 0;
      overflow:hidden;
      background-color: #1d2120;
  }

  .menu li {
      float: right;
  }

  .menu li a {
      display: inline-block;
      color: white;
      text-align: center;
 	  padding: 10% 17%;
      text-decoration: none;
  }

  .menu li a:hover {
      background-color: #111;
  }

  .menu {
      position:relative;
  	  font-size: 110%;
      width:100%;   
      font-family:"Verdana";